* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: grey;
  gap: 10px;
}


.header {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  padding: 20px;
  background: white;
}

.footer {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 10px 0;
  margin-top: auto;
  padding: 20px;
  background: white;
}

.content {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 180px;
  padding: 20px;
  background: white;
}